//----------------------------------------------------------------------------
//  body, html
//----------------------------------------------------------------------------
<<<<<<< HEAD

=======
>>>>>>> a40e2a7 (create sign up component)
body,
html {
  height: 100%;
  @include _bodyFont();
}
<<<<<<< HEAD

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  background-color: darkgray;
  color: white;
  padding: 15px 0;
}

header {
  background-color: lightgrey;
  padding: 10px 0;
}

=======
>>>>>>> a40e2a7 (create sign up component)
