
.game-board {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flippable-card-container {
    height: 150px;
    width: 150px;
    perspective: 1000px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    background-color: darkcyan;
    color: white;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.card-back {
    transform: rotateY(180deg);
    background-color: thistle;
}

.flip-exit {
    transform: rotateY(0deg);
}

.flip-exit-active {
    transform: rotateY(180deg);
    transition: transform 300ms;
}

.flip-exit-done {
    transform: rotateY(180deg);
}

.isActive {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    background-color: darkgray;
    color: black;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}